body {
    background-color: #5c86bd;
}

.panel {
    position: absolute;
    background-color: #f8f9fa;
    border-radius: 2%;
    transition: all 0.1s ease;
    opacity: 0;
}

.button {
    position: absolute;
    background-color: #5cbd7c;
    border-radius: 5%;
    transition: all 0.1s ease;
}

#gamePanel {
    cursor: none;
}

#ball {
    position: absolute;
    background-image: url("favicon.ico");
    background-size: cover;
    border-radius: 50%;
    animation: rotate 0.3s linear infinite;
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#paddle {
    position: absolute;
    background-color: #5c86bd;
    border-radius: 1%;
}

#startButton {
    position: absolute;
    background-color: #5c86bd;
}

#startButton p {
    color: white;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
    user-select: none;
}
