


.gamePanel {
    --resolution: calc(min(100vh, 100vw) * 0.9);
    position: absolute;
    background-color: #fff;
    border-radius: 5%;
    width: var(--resolution);
    height: var(--resolution);
    top: calc(50vh - calc(var(--resolution) / 2));
    left: calc(50vw - calc(var(--resolution) / 2));
}

.block {
    position: absolute;
    border-radius: 10%;
    box-sizing: border-box;
    border: calc(var(--resolution) * 0.003) solid #ff7eff;
    background-image: radial-gradient(#ff7eff, #6cd8d8);
}

.block2 {
    border-color: #7effff;
    background-image: radial-gradient(#7effff, #7effa5);
}

.block3 {
    border-color: #7effa5;
    background-image: radial-gradient(#7effa5, #a57eff);
}

.block4 {
    border-color: #a57eff;
    background-image: radial-gradient(#a57eff, #ff7eff);
}

.block5 {
    border-color: #ff7eff;
    background-image: radial-gradient(#ff7eff, #7effa5);
}

.block6 {
    border-color: #7effa5;
    background-image: radial-gradient(#7effa5, #a57eff);
}

.block7 {
    border-color: #a57eff;
    background-image: radial-gradient(#a57eff, #7effa5);
}

.block8 {
    background-color: #ff7eff;
    border-color: #7effff;
}

.block9 {
    background-color: beige;
    border-color: rgb(179, 141, 141);
    animation: none;
    background-image: none;
}



*,
*::before,
*::after {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    place-content: center;
    display: grid;
    gap: 2rem;
    min-height: 100vh;
    background-image: conic-gradient(at 125% 50%,
            #b78cf7,
            #ff7c94,
            #ffcf0d,
            #ff7c94,
            #b78cf7);
    font-family: system-ui;
}

.button {
    margin-top: 3rem;
    cursor: pointer;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 700;
    color: hsl(320, 40%, 40%);
    background-color: hsl(349 100% 95%);
    padding: 0.75em 1.25em;
    border: 0;
    border-radius: 1.25rem;
}

.glow-effect {
    --glow-line-color: #fff;
    --glow-line-thickness: 3px;
    --glow-line-length: 20px;
    --glow-blur-color: #fff;
    --glow-blur-size: 8px;
    --glow-offset: 0px;
    --animation-speed: 1200ms;
    /* do not change, used for calculations */
    --container-offset: 100px;
    position: relative;
}

.glow-container {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--container-offset) / -2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    opacity: 0;
    /* outline: 3px solid blue; */
}

.glow-blur,
.glow-line {
    width: calc(100% - var(--container-offset) + var(--glow-offset));
    height: calc(100% - var(--container-offset) + var(--glow-offset));
    x: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
    y: calc((var(--container-offset) / 2) + calc(var(--glow-offset) / -2));
    rx: 1.25rem;
    fill: transparent;
    stroke: black;
    stroke-width: 5px;
    stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length));
}

.glow-effect:is(:hover, :focus) :is(.glow-line, .glow-blur) {
    stroke-dashoffset: -80px;
    transition: stroke-dashoffset var(--animation-speed) ease-in;
}

.glow-line {
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-thickness);
}

.glow-blur {
    filter: blur(var(--glow-blur-size));
    stroke: var(--glow-blur-color);
    stroke-width: var(--glow-blur-size);
}

.glow-effect:is(:hover, :focus) .glow-container {
    animation: glow-visibility ease-in-out var(--animation-speed);
}

@keyframes glow-visibility {

    0%,
    100% {
        opacity: 0
    }

    25%,
    75% {
        opacity: 1
    }
}

.glow-effect[data-glow-animation="false"] {
    --glow-line-length: 50px;
}
.glow-effect[data-glow-offset="true"] {
    --glow-offset: 10px;
}