body {
    --resolution: min(100vh, 100vw);
    display: grid;
    min-height: 100vh;
    background-image: conic-gradient(at 125% 50%,
            #b78cf7,
            #ff7c94,
            #ffcf0d,
            #ff7c94,
            #b78cf7);
    font-family: system-ui;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    overflow: hidden;
}

.gamePanel {
    position: absolute;
    background-color: #fff;
    border-radius: 5%;
    width: calc(min(100vh, 100vw) * 0.9);
    height: calc(min(100vh, 100vw) * 0.9);
    top: calc(min(100vh, 100vw) * 0.05);
    left: calc(50vw - min(100vh, 100vw) * 0.45);
}

.interface {
    position: absolute;
    line-height: 1;
    z-index: 4;
    font-size: calc(var(--resolution) * 0.035);
    text-shadow: #000 0 0 calc(var(--resolution) * 0.003);
    color: #fdc1fd;
    font-weight: bold;
}

.interface.panel {
    /* background-color: rgba(0, 0, 0, 0.1); */
    top: calc(var(--resolution) * 0.725);
    width: calc(var(--resolution) * 0.95);
    height: calc(var(--resolution) * 0.175);
}

.interface.score {
    top: calc(var(--resolution) * 0.125);
    left: calc(var(--resolution) * 0.025);
}

.interface.multiplier {
    position: absolute;
    top: calc(var(--resolution) * 0.09);
    left: calc(var(--resolution) * 0.025);
}

.interface.level {
    top: calc(var(--resolution) * 0.125);
    left: calc(var(--resolution) * 0.5);
    transform: translate(-100%, 0);
}

.interface.lives {
    top: calc(var(--resolution) * 0.125);
    right: calc(var(--resolution) * 0.075);
}

.livesBall {
    background-image: url(favicon.ico);
    background-size: contain;
    background-color: #ff7eff;
    border-radius: 50%;
    width: calc(var(--resolution) / 40);
    height: calc(var(--resolution) / 40);
}

.floatingText {
    position: absolute;
    color: #ff7eff;
    font-size: calc(var(--resolution) * 0.0175);
    transform: translate(-50%, -50%);
    animation: floatingText 1s ease-in-out;
}

@keyframes floatingText {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2);
    }
}

.fps {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    background-color: #000;
    padding: calc(var(--resolution) * 0.001);
    font-size: calc(var(--resolution) * 0.03);
    font-weight: bold;
    z-index: 3;
}

.paddle {
    position: absolute;
    z-index: 2;
    background-color: #90e1e7;
    border-radius: 0 0 calc(var(--resolution) * 0.1) calc(var(--resolution) * 0.1);
}

.ball {
    background-image: url(favicon.ico);
    background-size: contain;
    z-index: 1;
    position: absolute;
    background-color: #ff7eff;
    border-radius: calc(var(--resolution) * 0.0075);
}

.ball.serving {
    z-index: 2;
    animation: serving 1s ease infinite;
}

.ball.smasher {
    z-index: 2;
    scale: 1.2;
    background-image: none;
    background-color: #ffcf0d;
    box-shadow: 0 0 calc(var(--resolution) * 0.0075) rgba(255, 85, 0, 1);
    animation: glow 0.5s linear infinite alternate;
}

.ball.smasher.serving {
    animation: serving 1s ease infinite, glow 0.5s linear infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 calc(var(--resolution) * 0.0075) rgba(255, 85, 0, 1);
    }

    100% {
        box-shadow: 0 0 calc(var(--resolution) * 0.0075) rgba(255, 85, 0, 0.2);
    }

}

@keyframes serving {

    /* lol it does little hops :) */
    0%,
    70%,
    100% {
        transform: translate(0%, -20%);
    }

    10%,
    60%,
    80%,
    90% {
        transform: translate(0%, 0%)
    }
}

.block {
    position: absolute;
    border-radius: calc(var(--resolution) * 0.0075);
    box-sizing: border-box;
    border: calc(var(--resolution) * 0.003) solid #ff7eff;
    background-image: radial-gradient(#ff7eff, #6cd8d8);
    transition: all 150ms linear;
}

.block.b0 {
    transform: scale(0);

}



.block.b1 {
    border-color: #ff7eff;
    background-image: radial-gradient(#ff7eff, #7effff);
}

.block.b2 {
    border-color: #7effff;
    background-image: radial-gradient(#7effff, #7effa5);
}

.block.b3 {
    border-color: #7effa5;
    background-image: radial-gradient(#7effa5, #a57eff);
}

.block.b4 {
    border-color: #a57eff;
    background-image: radial-gradient(#a57eff, #ff7eff);
}

.block.b5 {
    border-color: #ff7eff;
    background-image: radial-gradient(#ff7eff, #7effa5);
}

.block.b6 {
    border-color: #7effa5;
    background-image: radial-gradient(#7effa5, #a57eff);
}

.block.b7 {
    border-color: #a57eff;
    background-image: radial-gradient(#a57eff, #7effa5);
}

.block.b8 {
    background-color: #ff7eff;
    border-color: #7effff;
}

.block.b9 {
    /* unbreakable blocks */
    border-radius: 0;
    background-color: beige;
    border: none;
    animation: none;
    background-image: none;
}

.buttonContainer {
    user-select: none;
    position: absolute;
    bottom: 0;
    top: calc(var(--resolution) * 1.01);
    left: 0;
    width: 100%;
    height: calc(100vh - (var(--resolution) * 1.1));
}

.controlButton {
    border-radius: 10%;
    position: absolute;
    background-color: #6cd8d8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--resolution) * 0.2);
    height: 80%;
}

.controlButton.left {
    left: 2.5%;
    top: 0;
    width: 30%;
}

.controlButton.action {
    left: 35%;
    top: 0;
    width: 30%;
}

.controlButton.right {
    top: 0;
    left: 67.5%;
    width: 30%;
}

.roadworks {
    --resolution: min(100vh, 100vw);
    position: absolute;
    background-color: #fff;
    border-radius: 5%;
    width: calc(var(--resolution) * 0.9);
    height: calc(var(--resolution) * 0.9);
    top: calc(var(--resolution) * 0.05);
    left: calc(50vw - var(--resolution) * 0.45);
    text-align: center;

}